body {
    background: url('main-bg.jpg');
    background-position: center;
    background-size: cover;
}


.list-item {
    padding: 10px 5px;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    backdrop-filter: blur(3px);
}

.trash-button {
    background: transparent;
    border: 0;
    color: #de2e2e;
    font-size: 1.2rem;
}

.fa-trash {
    pointer-events: none;
}